.row.justify-content-md-center
  %h1
    =@track.name
.row.justify-content-md-center
  %h2
    =@track.theme
.row.justify-content-md-center
  = image_tag('stick.gif', size: "200x200")
  = image_tag attachment_url(@user, :avatar, :fill, 50, 50, format: "jpg"), class: 'rounded-circle', style: 'position: absolute; margin-top: 20px; margin-left: -110px;'
  = image_tag('stick2.gif', size: "200x200")
  = image_tag attachment_url(@user2, :avatar, :fill, 50, 50, format: "jpg"), class: 'rounded-circle', style: 'position: absolute; margin-top: 30px; margin-left: 90px;'
.row.justify-content-md-center
  -if @track.record.file.present?
    =audio_tag(@track.record.file.url, controls: true, autoplay: true)
